<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <title>TinyApp</title>
</head>

<%- include('partials/_header') %>

<body>
  <main style="margin: 1em;">
    <h3>My URLs</h3>
    <div class="row justify-content-left">
    <table class="table col-sm-30" style="width: 50%;" >
      <thead>
        <tr>
          <th scope="col" style="text-align:center">Short URL</th>
          <th scope="col" style="text-align:center">Long URL</th>
          <th scope="col" style="text-align:center">Edit</th>
          <th scope="col" style="text-align:center">Delete</th>
        </tr>
      </thead>
      <tbody>
        <% for(let url in urls) { %>
          <tr>
            <td style="text-align:center"><%= url %></td>
            <td style="text-align:center"><%= urls[url] %></td> 
            <td style="text-align:center"><form method="GET" action="/urls/<%= url %>"><input type="submit" value="Edit" class="btn btn-info"></form></td>
            <td style="text-align:center"><form method="POST" action="/urls/<%= url %>/delete"><input type="submit" value="Delete" class="btn btn-danger"></form></td>
          </tr>
        <% } %>
      </tbody>
    </table>
    </div>
  </main>

<%- include('partials/_footer') %>